<app-flash-message *ngIf="notValidUser">
  Wrong username or password.
</app-flash-message>
<form id="login" class="login-form" [formGroup]="loginForm"
      (submit)="loginForm.valid && login()" #lgForm="ngForm"
      novalidate>

  <mat-form-field id="usernameContainer">
    <input matInput type="text" placeholder="Username" formControlName="username"
           required>
    <mat-error #usernameRequired *ngIf="loginForm.get('username').hasError('required')">
      Username is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field id="passwordContainer">
    <input matInput type="password" placeholder="Password" formControlName="password"
           required>
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <br>

  <button mat-raised-button type="submit">Login</button>
</form>
