<div fxLayout="column" class="app-frame" [class.dark-theme]="isDark">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <button mat-icon-button (click)="navbar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-header">Smarttodo</span>

    <span class="app-toolbar-spacer"></span>

    <button mat-button routerLink="/login"> <!-- TODO: Show if not logged in -->
      Login
    </button>

    <mat-menu #appMenu="matMenu">
      <!-- TODO: flesh out -->
      <button mat-menu-item (click)="isDark = !isDark">Toggle Theme</button>
      <button mat-menu-item>Logout</button> <!-- TODO: make logout work and show on if logged in -->
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container fxFlex fxFill fxLayout="column">

    <mat-sidenav #navbar>
      <!-- TODO: flesh out-->
      <p>
        home works!
      </p>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-body" fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex class="app-panel">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
